.updated-calculator {
    padding: 20px 15px;
    border-radius: 5px;
    border: 1px solid #E5E5E5;
    background: #F6F7F9;
}

.updated-calculator__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    margin-bottom: 15px;
}

.updated-calculator__form {

}

.updated-calculator__form-row {
    margin-bottom: 20px;
}

.updated-calculator__form-row:last-child {
    margin-bottom: 0;
}

.updated-calculator__form-row-title {
    font-size: 12px;
    font-weight: 700;
    margin: 0 0 5px 0;
    padding: 0;
    line-height: 1.2;
}

.updated-calculator__form-row-input {
    position: relative;

}

.updated-calculator__form-row-input input {
    border-radius: 4px 4px 0 0;
    font-weight: 700;
    text-align: center;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}
.updated-calculator__form-row-input input:focus {
    color: #282828;
}

.updated-calculator__form-row-input input:focus~.calc-value-info {
    opacity: 0;
}

.updated-calculator__form-row-input .calc-value-info {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
    text-align: center;
    padding-top: 12px;
}

.updated-calculator__form-row-range {

}

.updated-calculator__form-row-range-label {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    color: #3B3434;
    font-size: 12px;
    line-height: 18px;
}

.updated-calculator__chart-wrapper {
    display: flex;
    justify-content: center;
}

.updated-calculator__chart {
    width: 220px;
    height: 220px;
    position: relative;
}

.updated-calculator__chart-info {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.updated-calculator__chart-title {
    text-align: center;
    color: #7A7A7A;
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
}

.updated-calculator__chart-value {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.updated-calculator__description {
    margin-top: 20px;
}

.updated-calculator__description-row {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #E5E5E5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.updated-calculator__description-row:first-child {
    padding-top: 0;
    margin-top: 0;
    border-top: none;
}

.updated-calculator__description-row-title {
    color: #7A7A7A;
    font-size: 16px;
    line-height: 20px;
    margin-right: 10px;
}

.updated-calculator__description-row-value {
    text-align: right;
    font-size: 18px;
    line-height: 24px;
}

.updated-calculator small {
    font-size: 100%;
}

.updated-calculator__form-row.updated-calculator__form-row--btn #calc_butt:hover {
    background-color: #fff;
}
/*updated-calculator--with-chart*/
.updated-calculator.updated-calculator--with-chart .updated-calculator__form {
    margin-bottom: 30px;
}
/*updated-calculator--with-chart //end*/



@media screen and (min-width: 1200px) {
    .updated-calculator__title {
        font-size: 37px;
        line-height: 44px;
        margin-bottom: 20px;
    }

    .updated-calculator__form {
        display: grid;
        grid-template-columns: 1fr 1fr 236px;
        gap: 20px;
        align-items: flex-end;
    }

    .updated-calculator__form-row {
        margin-bottom: 0;
    }

    .updated-calculator__form-row.updated-calculator__form-row--btn {
        margin-bottom: 24px;
    }

    .updated-calculator__description-row-title {
        font-size: 18px;
        line-height: 24px;
    }

    .updated-calculator__description-row-value {
        font-size: 20px;
        line-height: 24px;
    }

    /*updated-calculator--with-chart*/
    .updated-calculator.updated-calculator--with-chart .updated-calculator__form {
        display: block;
        margin-right: 40px;
        margin-bottom: 0;
    }

    .updated-calculator.updated-calculator--with-chart .updated-calculator__content {
        display: grid;
        grid-template-columns: 1fr 220px 320px;
        align-items: center;
        gap: 20px;
    }

    .updated-calculator.updated-calculator--with-chart .updated-calculator__form-row {
        margin-bottom: 20px;
    }

    .updated-calculator.updated-calculator--with-chart .updated-calculator__form-row:last-child {
        margin-bottom: 0;
    }

    .updated-calculator.updated-calculator--with-chart .updated-calculator__description {
        margin-top: 0;
    }

    /*updated-calculator--with-chart //end*/
}


@media screen and (max-width: 1199px) {
    .updated-calculator.mob\:updated-calculator--full-width {
        border: none;
        margin-left: -15px;
        margin-right: -15px;
        border-radius: 0;
        margin-top: -30px;
    }
}