.chip {
    font-size: 16px;
    line-height: 20px;
    padding: 9px 14px;
    border: 1px solid #E5E5E5;
    border-radius: 5px;
    transition: border-color .25s, color .25s;
    cursor: pointer;
    display: inline-flex;
    gap: 10px;
    white-space: nowrap;
    background-color: #fff;
    color: #3B3434;
    text-decoration: none !important;
}

.chip.active {
    color: #3B3434;
    border-color: #3B3434;
    box-shadow: inset 0 0 0 1px #3B3434;
}

@media (hover: hover) {
    .chip:hover {
        color: #3B3434;
        border-color: #3B3434;
    }
}

.chip.disabled {
    color: #B7BEC7;
    background-color: rgba(236, 241, 243, 1);
    border: 1px solid #E5E5E5;
    pointer-events: none;
}
